<ion-content>

<ion-card>
  <!-- Segment buttons with text -->
  <ion-segment [(ngModel)]="chartSymbol" color="dark" (ionChange)="getQuote()">
    <ion-segment-button value="XLK" >
      XLK
      
    </ion-segment-button>
    <ion-segment-button value="SPY" >
      SPY
    </ion-segment-button>
    <ion-segment-button value="GE" >
      GE
    </ion-segment-button>
  </ion-segment>
</ion-card>
<!--The content below is only a placeholder and can be replaced.-->


<ion-card>
  <ion-card-header>
    <ion-text color="primary">{{chartSymbol}}</ion-text>
    &nbsp;
    <ion-text color={{quoteColor}}>{{quote.lastPrice}}</ion-text>
  </ion-card-header>
  <ion-card-content>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [tooltip]="chartOptions.tooltip"
      ></apx-chart>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>
